.description {
    margin: 2rem 0;
    padding: 1rem;
    border: solid 1px gray;
    border-radius: .5rem;
    width: 70%;

    h2 {
        margin-bottom: .5rem;
    }

    p {
        font-size: x-large;
    }
}