/* stile globale */

/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #endregion common */

/* #region app */
.tabs {
    display: flex;
    gap: 1rem;

    .tabs-item {

        div {
            display: none;
        }
    }
}
/* #endregion app */