/* stile globale */

/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --active-colour: #FFC107;
    --inactive-colour: #0D6EFD;
    --header-colour: #F8F9FA;
    --font-colour: #212529;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    color: var(--font-colour);

    h2 {
        font-weight: 500;
    }
}

/* #endregion common */

/* #region header */
header {
    background-color: var(--header-colour);
    padding: 1rem;

    h1 {
        font-weight: 500;
        font-size: 40pt;
    }
}
/* #endregion header */

/* #region main */
.container {
    margin: auto;
    padding: 2rem;

    .tabs {
        display: flex;
        justify-content: flex-start;
        gap: 1rem;

        .tabs-item {
            position: relative;

            .tabs-title {
                padding: 1rem;
                border-radius: .5rem;
                max-width: fit-content;
                background-color: var(--inactive-colour);
                color: white;
            }

            .description {
                position: absolute;
                top: 100%;
                left: 0;
                width: 900%;
                margin: 2rem 0;
                padding: 1rem;
                border: solid 1px gray;
                border-radius: .5rem;

                h2 {
                    margin-bottom: .5rem;
                }

                p {
                    font-size: x-large;
                }
            }
        }

        /* #region classi dinamiche */
        .active {

            .tabs-title {
                background-color: var(--active-colour);
                color: var(--font-colour);
            }
        }
        
        .hide {
             
            div {
                display: none;
            }
        }
        /* #endregion classi dinamiche */
    }
}

/* #endregion main */