/* stile globale */

/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion common */

/* #region app */
.container {
    margin: auto;
    padding: 2rem;

    .tabs {
        display: flex;
        justify-content: flex-start;
        gap: 1rem;

        .tabs-item {

            h2 {
                background-color: aqua;
            }
        }

        .hide {

            div {
                display: none;
            }
        }
    }
}

/* #endregion app */